<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @repo.name %>
</p>

<p>
  <strong>Full name:</strong>
  <%= @repo.full_name %>
</p>

<p>
  <strong>Stargazers count:</strong>
  <%= @repo.stargazers_count %>
</p>

<p>
  <strong>Referenced count:</strong>
  <%= @repo.referenced_count %>
</p>

<p>
  <strong>References count:</strong>
  <%= @repo.references_count %>
</p>

<%= link_to 'Edit', edit_repo_path(@repo) %> |
<%= link_to 'Back', repos_path %>
